<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <title>Edit Profile</title>
</head>
<body>
    <nav>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li><a href="/main">Home</a></li>
            <li><a href="/race">RacePace</a></li>
            <li><a href="/stats/{{user.id}}">MyStats</a></li>
            <li><a href="/messageboard">Message Board</a></li>
            
            <li><a href="/edit/{{user.id}}">Edit Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    <div class="container py-4">
        <div class="row">
            <div class="col-sm-6">
                <form action='/edit/{{user.id}}' method="POST" >
                    {% csrf_token %}
                    <label for="first_name">First Name</label>
                    <input type="text" class="form-control" value = "{{user.first_name}}" name='first_name'>
                    <label for="last_name">Last Name</label>
                    <input type="text" class="form-control" value = "{{user.last_name}}"name="last_name">
                    <label for="email">Email Address</label>
                    <input type="text" class="form-control" value = "{{user.email}}" name='email'><br>                    
                    <button type="submit" class="btn btn-primary px-4">Update</button>
                </form><br><br>
                <form action="/add_image/{{user.id}}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="image"></label>
                    <input type="file" name="image">
                    <button type="submit" class="btn btn-primary px-4">Add Image</button>
                </form>
            </div>
            <div class="col-sm-6">
                <img src="{{ user.image.url }}"  height="400" alt="user image">
                
            </div>
        </div>
    </div>
    <script src="{% static 'JS/scripts.js' %}"></script>
</body>
</html>