<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% load mathfilters %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <title>{{user.name}}'s Stats</title>
</head>
<body>
    <nav>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li><a href="/main">Home</a></li>
            <li><a href="/race">RacePace</a></li>
            <li><a href="/stats/{{user.id}}">MyStats</a></li>
            <li><a href="/messageboard">Message Board</a></li>
            <li><a href="/runs">Runs</a></li>
            <li><a href="/edit/{{user.id}}">Edit Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <div class="container py-4">
        <div class="row">
            <div class="col-sm-6">
                <h2>Just the pic}</h2>
            </div>
            <div class="col-sm-6">
                <h2>Lifetime Stats</h2>
                <p>Total run ever {{total_distance}}</p>
                <div class="table-responsive">
                    <table class='table'>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Distance</th>
                                <th>Pace</th>
                                <th>Miles Per Hour</th>
                            </tr>
                        </thead>
                        {% for run in runs reversed %}
                        <tbody></tbody>
                        <tr>
                            <td>{{run.created_on |date:'M d, Y'}}</td>
                            <td>{{run.time}} minutes</td>
                            <td>{{run.distance}} miles</td>
                            <td>{{run.time|div:run.distance}} min miles</td>
                            {% with pace=run.time|div:run.distance %}
                            <td>{{60|div:pace |floatformat:2 }} MPH</td>
                            {% endwith %}
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'JS/scripts.js' %}"></script>
</body>
</html>