*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.welcome{
    background-color: #1b4332;
    padding: 10px 0px 20px 25px;
    color: white;
}

nav{
    height: 10vh;
    background: #1b4332;
}

.message{
    background-color: #74c69d;
    border-radius: 5px;
    padding: 10px;
}

img{
    border-radius: 3px;
}

.nav-links{
    display: flex;
    list-style: none;
    width: 65%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}
.comment{
    border-radius: 5px;
    margin-left: 40px;
    background-color: #b7e4c7;
    padding: 10px;
    margin-bottom: 5px;
    
}

.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

@media screen and (max-width: 980px) {
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }

    nav {
        position: relative;
    }

    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links{
        position: fixed;
        background: #1b4332;
        height: 100vh;
        width: 100%;
        flex-direction: column;        
        clip-path: circle(10px at 100% -20%);
        -webkit-clip-path: circle(10px at 100% -20%);
        transition: all 1s ease-out;
        z-index: 1;
    }
    .nav-links.open{
        clip-path: circle(1300px at 90% -20%);
        -webkit-clip-path: circle(1300px at 90% -20%);
    }
    
}

